@mixin clearfix {
  &::after {
    content: "";
    clear: both;
    display: table;
  }
}

@mixin absoluteCenter {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

/*
media query manager

$breakpoint argument options:
- phone: 0 - 600px
- tab-port: 600 - 900px
- tab-land: 900 - 1200px
- big-desktop: 1800px +
*/
@mixin respond($breakpoint) {
  @if $breakpoint == phone {
    @media (max-width: 600px) { @content };
  };
  @if $breakpoint == tab-port {
    @media (max-width: 900px) { @content };
  };
  @if $breakpoint == tab-land {
    @media (max-width: 1200px) { @content };
  };
  @if $breakpoint == big-desktop {
    @media (max-width: 1800px) { @content };
  };
}