@mixin clearfix {
  &::after {
    content: "";
    clear: both;
    display: table;
  }
}

@mixin absoluteCenter {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

/*
media query manager

$breakpoint argument options:
- phone: 0 - 600px
- tab-port: 600 - 900px
- tab-land: 900 - 1200px
- big-desktop: 1800px +

1em / 16px (default font size)
================================
600px = 37.5em
800px = 50em
900px = 56.25em
1200px = 75em
1800px = 112.5em

ORDER: base + typography > general layout + grid > page layout > components
*/
@mixin respond($breakpoint) {
  @if $breakpoint == phone {
    @media only screen and (max-width: 37.5em) { @content }; // < 37.5em
  };
  @if $breakpoint == tab-port {
    @media only screen and (max-width: 56.25em) { @content }; // < 56.25em
  }; 
  @if $breakpoint == tab-land {
    @media only screen and (max-width: 75em) { @content }; // < 75em
  };
  @if $breakpoint == ipad-port {
    @media only screen and (min-height: 50em) { @content }; // > 50em
  };
  @if $breakpoint == big-desktop {
    @media only screen and (min-width: 112.5em) { @content }; // > 112.5em
  };
}

/*
for high resolution screen and width larger than 600px 
or for screen larger than 2000px
*/
@mixin imageRespondToHighRes() {
  @media only screen and (min-resolution: 192dpi) and (min-width: 37.5em),
    (min-width: 125em) { @content };
};