// local mixins
@mixin backgroundImgScreen($direction, $linear-gradient-1, $linear-gradient-2, $img, $opacity) {
  background-image: linear-gradient(
    $direction, 
    rgba($linear-gradient-1, $opacity), 
    rgba($linear-gradient-2, $opacity)),
    url($img);

  @supports(background-blend-mode: screen) {
    background-blend-mode: screen;
    background-image: linear-gradient(
      $direction, 
      $linear-gradient-1, 
      $linear-gradient-2),
        url($img);
  }
}

.card {
  perspective: 150rem;
  -moz-perspective: 150rem;
  position: relative;
  height: 52rem;

  &__side {
    height: 52rem;
    transition: all .8s ease;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    -webkit-backface-visibility: hidden;
    backface-visibility: hidden;
    border-radius: $default-border-radius;
    overflow: hidden;
    box-shadow: 0 1.5rem 4rem rgba($color-black, .15);

    &--front {
      background-color: $color-white;
    }

    &--back {
      background-color: green;
      transform: rotateY(180deg);

      &--1 {
        background-image: linear-gradient(
          to right bottom, 
          $color-secondary-light, 
          $color-secondary-dark);
      }

      &--2 {
        background-image: linear-gradient(
          to right bottom, 
          $color-primary-light, 
          $color-primary-dark);
      }

      &--3 {
        background-image: linear-gradient(
          to right bottom, 
          $color-tertiary-light, 
          $color-tertiary-dark);
      }
    }
  }

  &:hover &__side--front {
    transform: rotateY(-180deg);
  }

  &:hover &__side--back{
    transform: rotateY(0);
  }

  // FRONT SIDE STYLING
  &__picture {
    background-size: cover;
    height: 23rem;
    background-blend-mode: screen;
    -webkit-clip-path: polygon(0 0, 100% 0, 100% 85%, 0 100%);
    clip-path: polygon(0 0, 100% 0, 100% 85%, 0 100%);
    border-top-left-radius: $default-border-radius;
    border-top-right-radius: $default-border-radius;

    &--1 {
      @include backgroundImgScreen(
          to right bottom, 
          $color-secondary-light, 
          $color-secondary-dark, 
          '../img/nat-5-small.jpg', 
          .3);

      @include imageRespondToHighRes() {
        @include backgroundImgScreen(
          to right bottom, 
          $color-secondary-light, 
          $color-secondary-dark, 
          '../img/nat-5.jpg', 
          .3);
      }

    }

    &--2 {
        @include backgroundImgScreen(
          to right bottom, 
          $color-primary-light, 
          $color-primary-dark, 
          '../img/nat-6-small.jpg', 
          .3);

      @include imageRespondToHighRes() {
        @include backgroundImgScreen(
          to right bottom, 
          $color-primary-light, 
          $color-primary-dark, 
          '../img/nat-6.jpg', 
          .3);
      }
    }

    &--3 {
      @include backgroundImgScreen(
          to right bottom, 
          $color-tertiary-light, 
          $color-tertiary-dark, 
          '../img/nat-7-small.jpg', 
          .3);

      @include imageRespondToHighRes() {
        @include backgroundImgScreen(
          to right bottom, 
          $color-tertiary-light, 
          $color-tertiary-dark, 
          '../img/nat-7.jpg', 
          .3);
      }
    }
  }

  &__heading {
    font-size: 2.8rem;
    font-weight: 300;
    text-transform: uppercase;
    text-align: right;
    color: $color-white;
    position: absolute;
    top: 12rem;
    right: 2rem;
    width: 75%;
  }

  &__heading-span {
    padding: 1rem 1.5rem;
    -webkit-box-decoration-break: clone;
    box-decoration-break: clone;

    &--1 {
      background-image: linear-gradient(
        to right bottom, 
        rgba($color-secondary-light, .85), 
        rgba($color-secondary-dark, .85));
    }

    &--2 {
      background-image: linear-gradient(
        to right bottom, 
        rgba($color-primary-light, .85), 
        rgba($color-primary-dark, .85));
    }

    &--3 {
      background-image: linear-gradient(
        to right bottom, 
        rgba($color-tertiary-light, .85), 
        rgba($color-tertiary-dark, .85));
    }
  }

  &__details {
    padding: 3rem;

    ul {
      list-style: none;
      width: 80%;
      margin: 0 auto;

      li {
        text-align: center;
        font-size: 1.5rem;
        padding: 1rem;

        &:not(:last-child) {
          border-bottom: 1px solid $color-grey-light-2;
        }
      }
    }
  }

  // BACK SIDE STYLING
  &__cta {
    @include absoluteCenter;
    width: 100%;
    text-align: center;
  }

  &__price-box {
    color: $color-white;
    margin-bottom: 8rem;
  }

  &__price--only {
    text-transform: uppercase;
    font-size: 1.4rem;
  }

  &__price--value {
    font-size: 6rem;
    font-weight: 100;
  }

  // small screens or device type is mobile
  @media only screen and (max-width: 56.25em),
    only screen and (hover: none) {

    height: auto;
    border-radius: $default-border-radius;
    background-color: $color-white;
    box-shadow: 0 1.5rem 4rem rgba($color-black, .15);

    &__side {
      height: auto;
      position: relative;
      box-shadow: none;

      &--back {
        transform: rotateY(0);
        clip-path: polygon(0 15%, 100% 0, 100% 100%, 0 100%);
      }
    }

    &:hover &__side--front {
      transform: rotateY(0);
    }

    &__details {
      padding: 1rem 3rem;
    }

    // BACK SIDE STYLING
    &__cta {
      position: relative;
      top: 0;
      left: 0;
      transform: translate(0);
      width: 100%;
      padding: 7rem 4rem 4rem 4rem;
    }

    &__price-box {
      margin-bottom: 3rem;
    }

    &__price--value {
      font-size: 4rem;
    }

  }

}