.modal {
  position: fixed;
  top: 0;
  left: 0;
  background-color: rgba($color-black, .8);
  height: 100vh;
  width: 100%;
  z-index: 9999;
  opacity: 0;
  visibility: hidden;
  transition: all .3s;

  @supports (-webkit-backdrop-filter: blur(10px)) and (backdrop-filter: blur(10px)) {
    -webkit-backdrop-filter: blur(10px);
    backdrop-filter: blur(10px);
    background-color: rgba($color-black, .3);
  }

  &__close {
    &:link,
    &:visited {
      color: $color-grey-dark-1;
      position: absolute;
      top: 2.5rem;
      right: 2.5rem;
      font-size: 3rem;
      text-decoration: none;
      display: inline-block;
      line-height: 1;
    }

    &:hover {
      color: $color-primary;
    }
  }

  &__content {
    @include absoluteCenter;
    width: 75%;
    background-color: $color-white;
    box-shadow: 0 2rem 4rem rgba($color-black, .2);
    border-radius: $default-border-radius;
    display: table;
    overflow: hidden;
    transition: all .4s .2s;

    // animation coming from the middle
    opacity: 1;
    transform: translate(-50%,-50%) scale(.25);

    // @include respond(tab-land) {
    //   display: block;
    // }
  }

  &__left {
    width: 33.333333%;
    display: table-cell;

    @include respond(tab-land) {
      // position: absolute;
      // top: 0;
      // left: 0;
      // display: inline-block;
      // width: 100%;
      display: none;
    }
  }

  &__right {
    width: 66.6666667%;
    display: table-cell;
    vertical-align: middle;
    padding: 3rem 5rem;

    @include respond(phone) {
      text-align: center;
    }

    // @include respond(tab-land) {
    //   display: inline-block;
    //   width: 100%;
    // }
  }

  &__img {
    display: block;
    width: 100%;

    // @include respond(tab-land) {
    //   width: 20%;
    //   display: inline-block;
    // }
  }

  &__text {
    font-size: 1.4rem;
    margin-bottom: 4rem;

    column-count: 2;
    column-gap: 4rem;
    column-rule: 1px solid $color-grey-light-2;

    -webkit-hyphens: auto;
    hyphens: auto;

    @include respond(phone) {
      text-align: left;
    }
  }

  &:target {
    opacity: 1;
    visibility: visible;
  }

  &:target &__content {
    // animation coming from the middle
    opacity: 1;
    transform: translate(-50%, -50%) scale(1);
  }

}

